body{
    margin: 0;
    background-color: #F3F1FF;
}
.poppins-medium, body{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
main{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
}
.container{
    background-color: white;
    padding: 30px;
}

/* header style */

/* .head-nav{
    background-color: rgb(73, 56, 186);
    height: 8vh;
    display: flex;
}
span, .menu-name{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.logo{
    height: 5vh;
    width: 2vw;
    margin-top: 20px;
}
.hd-left{
    display: flex;
    flex-direction:row;
    position: relative;
    left: 25%;
}
.hd-right{
    position: relative;
    left: 45%;
}
.menu{
    display: flex;
    list-style: none;
}
.menu-name{
    text-decoration: none;
    margin: 2vw;
} */


/* Top Players Styles */


h2{
    color: #562EFF;
    font-size: 24px;
}
.top-players{
    height: 679px;
    width: 870px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 18px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
    margin-right: 16px;
}
