/* All Styles */


/* Fonts */
.poppins-medium, body{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* Common styles */


body {
    margin: 0;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    width: 870px;
    padding: 30px;
    margin-top: 30px;
    border-radius: 5px;
}
.hr-bottom{
    color: #D1D1D1;
    margin-bottom: 30px;
}

/* header style */

.head-nav{
    background-color: #562EFF;
    height: 94px;
    display: flex;
    align-items: center;
}
span, .menu-name{
    color: white;
    align-items: center;
}
.logo{
    height: 51px;
    width: 40.42px;
    margin-right: 18px;
}
.logo-img, .hd-left, span{
    display: flex;
    flex-direction:row;
    position: relative;
    left: 19%;
}
span, .menu-name{
    color: white;
    font-size: 24px;
}
.hd-right{
    position: relative;
    left: 46%;
}
.menu{
    display: flex;
    list-style: none;
    align-items: center;
}
.menu-name{
    text-decoration: none;
    margin-right: 2vw;
}


/* Top Players Styles */


h2{
    color: #562EFF;
    font-size: 24px;
}
.top-players{
    width: 870px;
    margin-bottom: 22px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 18px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
    margin-right: 16px;
}


/*-------- 
Top Blogs
--------*/

.blogs{
    margin-top: 8px;
    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(2, 1fr);
}
.blog{
    display: flex;
}

.thumbnail img{
    height: 117px;
    width: 177px;
    border: 2px solid green;
    border-radius: 14.69px;
}
.article-details{
    margin-left: 18px;
    flex-grow: 1;
}
.blog-title{
    font-size: 20px;
    width: 200px;
    margin: 0;
    font-weight: 500;
}

.blog-author{
    color: #9F9F9F;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16;
}

/*--------------/
/ Lates Courses /
/--------------*/
.courses{
    display: flex;
    margin-left: 0;
}
.course{
    height: 270px;
    width: 260px;
    margin-right: 20px;
    box-shadow: 0 0 20px -8px #9F9F9F;
    padding-left: 13px;
    padding-top: 15px;
    border-radius: 14.69px;
}
.course-thumbnail>img{
    height: 104px;
    width: 224px;
    margin-bottom: 15px;
    border: 2px solid green;
    border-radius: 14.69px;
}
.course-title{
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0;
}
.course-thumbnail a{
    font-size: 14.69px;
    text-decoration: none;
    color: #ED6B4F;
}
.bottom-part{
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.star-serial{
    display: flex;
    align-items: center;
}
.star-serial img{
    height: 11.81px;
    width: 12.39px;
    margin-right: 3px;
}
/* .star-serial>img:last-child{
    color: #AEAEAE;
} */
.rate{
    color: #9F9F9F;
    margin: 0 15px;
}
.duration{
    display: flex;
    color: #FF4A60;
    background-color: #FFE4E8;
    border-radius: 14.69px;
    justify-content: center;
    align-items: center;
    height: 29.38px;
    width: 94.83px;
}
.duration img{
    height: 20.03px;
    width: 20.03px;
    margin-right: 5px;
}


/* -------------- 
   Media Queries
  -------------- */

  @media only screen and (max-width: 688px) {
    .container{
        width: 100%;
    }
    .players, .top-players, .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog, .course, .courses{
        flex-direction: column;
    }
  }